html {
  text-size-adjust: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  max-width: 960px;
  margin: 0 auto;

}
.div {
display: block;}

.logo {
  display: inline-flex;
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  width: 960px;


}
.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.main {
  display: flex;
  flex-direction: column;

}
.banner {
  display: flex;
  height: 25rem;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrival {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  font-weight: bold;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left:3rem;

}
.arrival h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}
.arrival h2 {
  font-size: 2rem;
}
.menu {
  display: flex;
  flex-direction: row;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}
li {
  justify-content: space-between;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
  max-width: 960px;
margin: 0px auto;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: left;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

.items {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  width: 100%;
  align-content: center;
  justify-content: space-between;

}

.image-content {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 9rem;
  align-items: center;
  justify-content: center;
}


.text-content {
  display: block;
  background-color: black;

  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.glasses, .watch, .pen{
  border: 4px solid black;
  width: 30%;
  text-align: center;

}


.info {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 4rem;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;

}
.location {
  display: flex;
  flex-direction: column;
  width: 35%;

}
.hours {
  display: flex;
  flex-direction: column;
  width: 35%;


}
.title {
  display: flex;
  background-color: black;

  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.infocontent {
  display: flex;

  color: black;


}
footer {
  margin-top: 4rem;
  height: 5rem;
  text-align: left;

}


@media only screen and (max-width: 1024px) {

  body {
    font-size: 16px;
  }


  .main-menu  {
    display: none;

  }
  .mobile-menu {
    display: block;
    text-align: center;
  }

  .pen, .watch{

   width: 47%;

  }


  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  body {
    width: 100%;
    font-size: 16px;
  }
  .banner {
  height: 15rem;

    }

  .arrival {
  width: 100%;
  top: 10rem;
  padding: 1rem 2rem;
  }

  .menu {
    width: 100%;
    top: 15rem;
  }
  h2 {
    font-size: 0.77rem;
    font-weight: bold;

  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  .pen {
    width: 90%;
  }
  .watch, .glasses {
    display: none;
  }
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .location {
    width: 90%;
  }
  .hours {
    margin-top: 0.5rem;
    width: 90%;
  }
  footer {
    text-align: center;
  }
}
